<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div th:replace="fragments/navbar :: navbar"/>
<div class="container-fluid ">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar"/>
            <div class="container col-md-10">
                <div>
                    <table class="table" th:each="notice : ${noticeId}" id="viewBoard">
                        <thead>
                            <tr>
                                <th th:text="${noticeId.id}+'번게시물'" colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-2" th:text="제목"></td>
                                <td class="col-10" th:text="${noticeId.title}"></td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-2" th:text="작성일자"></td>
                                <td class="col-10" th:text="${noticeId.writeDate}"></td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-2" th:text="내용"></td>
                                <td class="col-10"><a th:text="${noticeId.content}" /></td>
                            </tr>
                            <td colspan="2">
                                <a th:href="@{'/noticeBoard/update/'+${noticeId.id}}" class="btn btn-primary" style="float: right">수정</a>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div> <!-- /container -->
    </div>

</div>
<div th:replace="fragments/footer :: footer" />

</body>
</html>